flow-definition.json
{
  "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "$connections": {
      "defaultValue": {},
      "type": "Object"
    }
  },
  "triggers": {
    "manual": {
      "type": "Request",
      "kind": "PowerAppV2",
      "inputs": {
        "schema": {
          "type": "object",
          "properties": {
            "text": {
              "title": "EntityName",
              "type": "string",
              "x-ms-powerflows-param-isPartial": false
            }
          },
          "required": [
            "text"
          ]
        }
      },
      "metadata": {
        "operationMetadataId": "12345678-1234-1234-1234-123456789012"
      }
    }
  },
  "actions": {
    "Get_Entity_Metadata": {
      "type": "OpenApiConnection",
      "inputs": {
        "host": {
          "connectionName": "shared_commondataserviceforapps",
          "operationId": "ListRecords",
          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
        },
        "parameters": {
          "entityName": "entitydefinitions",
          "$filter": "logicalname eq '@{triggerBody()['text']}'",
          "$select": "logicalname,displayname,entitysetname,metadataid"
        }
      },
      "metadata": {
        "operationMetadataId": "11111111-1111-1111-1111-111111111111"
      }
    },
    "Get_Entity_Attributes": {
      "type": "OpenApiConnection",
      "inputs": {
        "host": {
          "connectionName": "shared_commondataserviceforapps",
          "operationId": "ListRecords",
          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
        },
        "parameters": {
          "entityName": "attributedefinitions",
          "$filter": "_entitydefinition_value eq '@{first(outputs('Get_Entity_Metadata')?['body/value'])?['metadataid']}'",
          "$select": "logicalname,displayname,attributetype,maxlength,precision,scale,isrequired,isprimarykey,defaultvalue"
        }
      },
      "runAfter": {
        "Get_Entity_Metadata": [
          "Succeeded"
        ]
      },
      "metadata": {
        "operationMetadataId": "22222222-2222-2222-2222-222222222222"
      }
    },
    "Initialize_SqlScript": {
      "type": "InitializeVariable",
      "inputs": {
        "variables": [
          {
            "name": "SqlScript",
            "type": "String",
            "value": ""
          }
        ]
      },
      "runAfter": {
        "Get_Entity_Attributes": [
          "Succeeded"
        ]
      },
      "metadata": {
        "operationMetadataId": "33333333-3333-3333-3333-333333333333"
      }
    },
    "Initialize_TableName": {
      "type": "InitializeVariable",
      "inputs": {
        "variables": [
          {
            "name": "TableName",
            "type": "String",
            "value": ""
          }
        ]
      },
      "runAfter": {
        "Initialize_SqlScript": [
          "Succeeded"
        ]
      },
      "metadata": {
        "operationMetadataId": "44444444-4444-4444-4444-444444444444"
      }
    },
    "Initialize_FieldDefinitions": {
      "type": "InitializeVariable",
      "inputs": {
        "variables": [
          {
            "name": "FieldDefinitions",
            "type": "String",
            "value": ""
          }
        ]
      },
      "runAfter": {
        "Initialize_TableName": [
          "Succeeded"
        ]
      },
      "metadata": {
        "operationMetadataId": "55555555-5555-5555-5555-555555555555"
      }
    },
    "Initialize_DataType": {
      "type": "InitializeVariable",
      "inputs": {
        "variables": [
          {
            "name": "DataType",
            "type": "String",
            "value": ""
          }
        ]
      },
      "runAfter": {
        "Initialize_FieldDefinitions": [
          "Succeeded"
        ]
      },
      "metadata": {
        "operationMetadataId": "66666666-6666-6666-6666-666666666666"
      }
    },
    "Initialize_FinalOutput": {
      "type": "InitializeVariable",
      "inputs": {
        "variables": [
          {
            "name": "FinalOutput",
            "type": "String",
            "value": ""
          }
        ]
      },
      "runAfter": {
        "Initialize_DataType": [
          "Succeeded"
        ]
      },
      "metadata": {
        "operationMetadataId": "77777777-7777-7777-7777-777777777777"
      }
    },
    "Set_Table_Name": {
      "type": "SetVariable",
      "inputs": {
        "name": "TableName",
        "value": "STG_@{toUpper(outputs('Get_Entity_Metadata')?['body/value']?[0]?['logicalname'])}"
      },
      "runAfter": {
        "Initialize_FinalOutput": [
          "Succeeded"
        ]
      },
      "metadata": {
        "operationMetadataId": "88888888-8888-8888-8888-888888888888"
      }
    },
    "Start_SQL_Script": {
      "type": "SetVariable",
      "inputs": {
        "name": "SqlScript",
        "value": "-- Staging table for D365 entity: @{outputs('Get_Entity_Metadata')?['body/value']?[0]?['displayname']}\n-- Generated on: @{formatDateTime(utcnow(), 'yyyy-MM-dd HH:mm:ss')}\n\nIF OBJECT_ID('dbo.@{variables('TableName')}', 'U') IS NOT NULL\n    DROP TABLE dbo.@{variables('TableName')};\n\nCREATE TABLE dbo.@{variables('TableName')} ("
      },
      "runAfter": {
        "Set_Table_Name": [
          "Succeeded"
        ]
      },
      "metadata": {
        "operationMetadataId": "99999999-9999-9999-9999-999999999999"
      }
    },
    "Apply_to_each_Attribute": {
      "type": "Foreach",
      "foreach": "@outputs('Get_Entity_Attributes')?['body/value']",
      "actions": {
        "Switch_Data_Type": {
          "type": "Switch",
          "expression": "@items('Apply_to_each_Attribute')?['attributetype']",
          "cases": {
            "String": {
              "case": "String",
              "actions": {
                "Set_String_Type": {
                  "type": "SetVariable",
                  "inputs": {
                    "name": "DataType",
                    "value": "NVARCHAR(@{if(greater(items('Apply_to_each_Attribute')?['maxlength'], 4000), 'MAX', string(items('Apply_to_each_Attribute')?['maxlength']))})"
                  },
                  "metadata": {
                    "operationMetadataId": "aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa"
                  }
                }
              }
            },
            "Integer": {
              "case": "Integer",
              "actions": {
                "Set_Integer_Type": {
                  "type": "SetVariable",
                  "inputs": {
                    "name": "DataType",
                    "value": "INT"
                  },
                  "metadata": {
                    "operationMetadataId": "bbbbbbbb-bbbb-bbbb-bbbb-bbbbbbbbbbbb"
                  }
                }
              }
            },
            "BigInt": {
              "case": "BigInt",
              "actions": {
                "Set_BigInt_Type": {
                  "type": "SetVariable",
                  "inputs": {
                    "name": "DataType",
                    "value": "BIGINT"
                  },
                  "metadata": {
                    "operationMetadataId": "cccccccc-cccc-cccc-cccc-cccccccccccc"
                  }
                }
              }
            },
            "Double": {
              "case": "Double",
              "actions": {
                "Set_Double_Type": {
                  "type": "SetVariable",
                  "inputs": {
                    "name": "DataType",
                    "value": "FLOAT"
                  },
                  "metadata": {
                    "operationMetadataId": "dddddddd-dddd-dddd-dddd-dddddddddddd"
                  }
                }
              }
            },
            "Decimal": {
              "case": "Decimal",
              "actions": {
                "Set_Decimal_Type": {
                  "type": "SetVariable",
                  "inputs": {
                    "name": "DataType",
                    "value": "DECIMAL(@{items('Apply_to_each_Attribute')?['precision']}, @{items('Apply_to_each_Attribute')?['scale']})"
                  },
                  "metadata": {
                    "operationMetadataId": "eeeeeeee-eeee-eeee-eeee-eeeeeeeeeeee"
                  }
                }
              }
            },
            "DateTime": {
              "case": "DateTime",
              "actions": {
                "Set_DateTime_Type": {
                  "type": "SetVariable",
                  "inputs": {
                    "name": "DataType",
                    "value": "DATETIME2(7)"
                  },
                  "metadata": {
                    "operationMetadataId": "ffffffff-ffff-ffff-ffff-ffffffffffff"
                  }
                }
              }
            },
            "Boolean": {
              "case": "Boolean",
              "actions": {
                "Set_Boolean_Type": {
                  "type": "SetVariable",
                  "inputs": {
                    "name": "DataType",
                    "value": "BIT"
                  },
                  "metadata": {
                    "operationMetadataId": "10101010-1010-1010-1010-101010101010"
                  }
                }
              }
            },
            "Uniqueidentifier": {
              "case": "Uniqueidentifier",
              "actions": {
                "Set_Uniqueidentifier_Type": {
                  "type": "SetVariable",
                  "inputs": {
                    "name": "DataType",
                    "value": "UNIQUEIDENTIFIER"
                  },
                  "metadata": {
                    "operationMetadataId": "20202020-2020-2020-2020-202020202020"
                  }
                }
              }
            },
            "Memo": {
              "case": "Memo",
              "actions": {
                "Set_Memo_Type": {
                  "type": "SetVariable",
                  "inputs": {
                    "name": "DataType",
                    "value": "NVARCHAR(MAX)"
                  },
                  "metadata": {
                    "operationMetadataId": "30303030-3030-3030-3030-303030303030"
                  }
                }
              }
            },
            "Money": {
              "case": "Money",
              "actions": {
                "Set_Money_Type": {
                  "type": "SetVariable",
                  "inputs": {
                    "name": "DataType",
                    "value": "MONEY"
                  },
                  "metadata": {
                    "operationMetadataId": "40404040-4040-4040-4040-404040404040"
                  }
                }
              }
            },
            "Picklist": {
              "case": "Picklist",
              "actions": {
                "Set_Picklist_Type": {
                  "type": "SetVariable",
                  "inputs": {
                    "name": "DataType",
                    "value": "INT"
                  },
                  "metadata": {
                    "operationMetadataId": "50505050-5050-5050-5050-505050505050"
                  }
                }
              }
            },
            "Lookup": {
              "case": "Lookup",
              "actions": {
                "Set_Lookup_Type": {
                  "type": "SetVariable",
                  "inputs": {
                    "name": "DataType",
                    "value": "UNIQUEIDENTIFIER"
                  },
                  "metadata": {
                    "operationMetadataId": "60606060-6060-6060-6060-606060606060"
                  }
                }
              }
            },
            "Customer": {
              "case": "Customer",
              "actions": {
                "Set_Customer_Type": {
                  "type": "SetVariable",
                  "inputs": {
                    "name": "DataType",
                    "value": "UNIQUEIDENTIFIER"
                  },
                  "metadata": {
                    "operationMetadataId": "70707070-7070-7070-7070-707070707070"
                  }
                }
              }
            },
            "Owner": {
              "case": "Owner",
              "actions": {
                "Set_Owner_Type": {
                  "type": "SetVariable",
                  "inputs": {
                    "name": "DataType",
                    "value": "UNIQUEIDENTIFIER"
                  },
                  "metadata": {
                    "operationMetadataId": "80808080-8080-8080-8080-808080808080"
                  }
                }
              }
            },
            "State": {
              "case": "State",
              "actions": {
                "Set_State_Type": {
                  "type": "SetVariable",
                  "inputs": {
                    "name": "DataType",
                    "value": "INT"
                  },
                  "metadata": {
                    "operationMetadataId": "90909090-9090-9090-9090-909090909090"
                  }
                }
              }
            },
            "Status": {
              "case": "Status",
              "actions": {
                "Set_Status_Type": {
                  "type": "SetVariable",
                  "inputs": {
                    "name": "DataType",
                    "value": "INT"
                  },
                  "metadata": {
                    "operationMetadataId": "a1a1a1a1-a1a1-a1a1-a1a1-a1a1a1a1a1a1"
                  }
                }
              }
            }
          },
          "default": {
            "actions": {
              "Set_Default_Type": {
                "type": "SetVariable",
                "inputs": {
                  "name": "DataType",
                  "value": "NVARCHAR(255)"
                },
                "metadata": {
                  "operationMetadataId": "b2b2b2b2-b2b2-b2b2-b2b2-b2b2b2b2b2b2"
                }
              }
            }
          },
          "metadata": {
            "operationMetadataId": "c3c3c3c3-c3c3-c3c3-c3c3-c3c3c3c3c3c3"
          }
        },
        "Build_Field_Definition": {
          "type": "Compose",
          "inputs": "    @{items('Apply_to_each_Attribute')?['logicalname']} @{variables('DataType')} @{if(equals(items('Apply_to_each_Attribute')?['isrequired'], true), 'NOT NULL', 'NULL')}@{if(not(empty(items('Apply_to_each_Attribute')?['defaultvalue'])), concat(' DEFAULT ', items('Apply_to_each_Attribute')?['defaultvalue']), '')}",
          "runAfter": {
            "Switch_Data_Type": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d4d4d4d4-d4d4-d4d4-d4d4-d4d4d4d4d4d4"
          }
        },
        "Append_Field_Definition": {
          "type": "AppendToStringVariable",
          "inputs": {
            "name": "FieldDefinitions",
            "value": "@{outputs('Build_Field_Definition')},\n"
          },
          "runAfter": {
            "Build_Field_Definition": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "e5e5e5e5-e5e5-e5e5-e5e5-e5e5e5e5e5e5"
          }
        }
      },
      "runAfter": {
        "Start_SQL_Script": [
          "Succeeded"
        ]
      },
      "metadata": {
        "operationMetadataId": "f6f6f6f6-f6f6-f6f6-f6f6-f6f6f6f6f6f6"
      }
    },
    "Add_System_Fields": {
      "type": "AppendToStringVariable",
      "inputs": {
        "name": "FieldDefinitions",
        "value": "    CreatedDate DATETIME2(7) NOT NULL DEFAULT GETDATE(),\n    ModifiedDate DATETIME2(7) NOT NULL DEFAULT GETDATE(),\n    SourceSystem NVARCHAR(50) NOT NULL DEFAULT 'D365',\n    ProcessingStatus NVARCHAR(20) NOT NULL DEFAULT 'PENDING',\n    ErrorMessage NVARCHAR(MAX) NULL,\n    BatchId UNIQUEIDENTIFIER NULL"
      },
      "runAfter": {
        "Apply_to_each_Attribute": [
          "Succeeded"
        ]
      },
      "metadata": {
        "operationMetadataId": "a7a7a7a7-a7a7-a7a7-a7a7-a7a7a7a7a7a7"
      }
    },
    "Complete_SQL_Script": {
      "type": "SetVariable",
      "inputs": {
        "name": "SqlScript",
        "value": "@{variables('SqlScript')}\n@{substring(variables('FieldDefinitions'), 0, sub(length(variables('FieldDefinitions')), 2))}\n);\n\n-- Create indexes for performance\nCREATE CLUSTERED INDEX CIX_@{variables('TableName')}_CreatedDate \n    ON dbo.@{variables('TableName')} (CreatedDate);\n\nCREATE NONCLUSTERED INDEX NIX_@{variables('TableName')}_ProcessingStatus \n    ON dbo.@{variables('TableName')} (ProcessingStatus);\n\nCREATE NONCLUSTERED INDEX NIX_@{variables('TableName')}_BatchId \n    ON dbo.@{variables('TableName')} (BatchId);\n\n-- Grant permissions\nGRANT SELECT, INSERT, UPDATE, DELETE ON dbo.@{variables('TableName')} TO [db_datawriter];\nGRANT SELECT ON dbo.@{variables('TableName')} TO [db_datareader];\n\nPRINT 'Staging table @{variables('TableName')} created successfully';"
      },
      "runAfter": {
        "Add_System_Fields": [
          "Succeeded"
        ]
      },
      "metadata": {
        "operationMetadataId": "b8b8b8b8-b8b8-b8b8-b8b8-b8b8b8b8b8b8"
      }
    },
    "Output_Final_SQL_Script": {
      "type": "Compose",
      "inputs": {
        "EntityName": "@{triggerBody()['text']}",
        "TableName": "@{variables('TableName')}",
        "GeneratedDate": "@{formatDateTime(utcnow(), 'yyyy-MM-dd HH:mm:ss')}",
        "SqlScript": "@{variables('SqlScript')}"
      },
      "runAfter": {
        "Complete_SQL_Script": [
          "Succeeded"
        ]
      },
      "metadata": {
        "operationMetadataId": "c9c9c9c9-c9c9-c9c9-c9c9-c9c9c9c9c9c9"
      }
    },
    "Set_Final_Output": {
      "type": "SetVariable",
      "inputs": {
        "name": "FinalOutput",
        "value": "@{variables('SqlScript')}"
      },
      "runAfter": {
        "Output_Final_SQL_Script": [
          "Succeeded"
        ]
      },
      "metadata": {
        "operationMetadataId": "d0d0d0d0-d0d0-d0d0-d0d0-d0d0d0d0d0d0"
      }
    }
  },
  "outputs": {}
}